@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Philosopher:wght@400;700&family=Salsa&family=Sevillana&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}
.btn-main{
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: none;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #424242;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-con{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-des{
    color: #727272;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.team-con{
    display: flex;
    align-items: center;
}
.team-img-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.team-title .of-our{
    color: #131313;
    font-weight: 700;
}
.team-title .text-feature{
    color: #FF900E;
    font-weight: 700;
}
.team-des{
    width: 537px;
    font-weight: 400;
    color: #727272;
}

/* feature section styles */
.feature{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.feature .feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.feature-content .card{
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 30px;
}
.ten-years h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years p{
    font-size: 1.5rem;
}
.feature-img img{
    position: relative;
    left: 20px;
    height: 90%;
}

/* facts section */
.facts{
    text-align: center;
}
.fact-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.fact-des{
    font-weight: 400;
    color: #727272;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: 5px;
}

/* sponsor section */
.sponsors{
    text-align: center;
}
.sponsor-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.sponsor-des{
    font-weight: 400;
    color: #727272;
}
.sponsors-img-con{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsors-img-con img{
    width: 165px;
}

/* responsive media queries */
/* mobile device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-con,
    .facts-card-container,
    .sponsors-img-con,
    .feature
    {
        flex-direction: column;
    }
    .feature-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-years{
        position: static;
        max-width: 300px;
    }
    .team-img-con{
        grid-template-columns: 1fr;
    }
    .team-content, .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }

}
/* medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav, 
    .team-con, 
    .sponsors-img-con,
    .feature
    {
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}
